<div class="tab" data-tab="details" data-group="primary">
  <div class="flexrow">
    <label>{{localize "DUSTPERADOS.Item.Value"}}</label>
    <input type="number" name="system.value" value="{{item.system.value}}" data-dtype="Number" />
  </div>

  {{#if (eq item.type "weapon")}}
  <div class="flexrow">
    <label>{{localize "DUSTPERADOS.Weapon.Damage"}}</label>
    <input type="text" name="system.damage" value="{{item.system.damage}}" data-dtype="String" />
  </div>
  <div class="flexrow">
    <label>{{localize "DUSTPERADOS.Weapon.Range"}}</label>
    <input type="text" name="system.range" value="{{item.system.range}}" data-dtype="String" />
  </div>
  {{/if}}

  {{#if (eq item.type "equipment")}}
  <div class="flexrow">
    <label>{{localize "DUSTPERADOS.Equipment.Weight"}}</label>
    <input type="number" name="system.weight" value="{{item.system.weight}}" data-dtype="Number" />
  </div>
  <div class="flexrow">
    <label>{{localize "DUSTPERADOS.Equipment.Quantity"}}</label>
    <input type="number" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number" />
  </div>
  {{/if}}
</div>
